/* Footer*/


.foot-box{

  height: 28%;
  /* background-color:yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.disponibilite {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: solid;
  width: 350px; 
  height: 170px;
  border-radius: 30px;
  margin: 15px;
  margin-left: 15%;
  /* background: #ffb233; */
}

.disponibilite:hover {
  /* background-color: gold; */
  scale: 1.1;
}

.projet{
  border: solid;
  width: 350px; 
  height: 170px; 
  border-radius: 30px;
  text-align: center;
  margin: 15px; 
  /* background: #ffb233;   */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}





.projet:hover{
  
  /* background-color: gold; */
  scale: 1.1;
  }


.contact:hover{
  /* background-color: gold; */
  scale: 1.2;
}




.disponibilite:before {
    content:"DISPONIBILITE";
    font-weight: bold;
    font-size: 20px;
    
    
}

.disponibilite:hover:before {
    content:"Immediate";
    font-weight: normal;
    font-size: 15px;
}


.projet:before {
    content:"PORJET";
    font-weight: bold;
    font-size: 20px;

    
}

.projet:hover:before {

  content:"Le voyage dans le passé  à bord d'une machine à voyager dans le temps. Marty, doit résoudre les paradoxes temporels provoqués par ses interventions dans le passé et trouver le moyen de faire fonctionner la machine pour retourner à son époque d'origine";
  font-weight: normal;
  font-size: 15px;

}

.formulaire{
  /* background-color: #edf750; */
}

a{
  color: black;
}
.lienForm{
  
  font-weight: bolder;
  font-size: 60px;
  border: solid;
  border-radius: 50%;
  /* background: #ffb233; */
  
}


form{
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-150px; 
  margin-top:-100px; 
  background: #efece7;
  
}




label{ 
display: block; /* La balise devient de type block. */
width: 150px;
} 

@media screen and (max-width: 700px){
  .foot-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
    
    .disponibilite{
      margin-left: 1%;
      margin-top: 5%;
    }
    
  }

  

/*  finish footer*/