/* Footer*/




.disponibilite {
  background: -webkit-linear-gradient( #E71C73, #23ACB3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: ridge;
  height:72%;
  width:17.386%;
  border-radius:8px;
  margin:24px 0px 0px 152px;
  padding: 48.48px 40px;
  
}

.disponibilite:hover {  
  background: -webkit-linear-gradient( #E71C73, #23ACB3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  scale: 1.1;
}
.disponibilite:before {
  content:"DISPONIBILITE";
  font-weight: bold;
  font-size: 20px;
  
  
}

.disponibilite:hover:before {
  content:"Immediate";
  font-weight: normal;
  font-size: 15px;
}

.projet{
  background: -webkit-linear-gradient( #E71C73, #23ACB3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height:72%;
  width:17.386%;
  border: ridge;
  border-radius:8px;
  margin:24px 0px 0px 152px;
  padding: 48.48px 40px;
  text-align: center; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}





.projet:hover{  
  background: -webkit-linear-gradient( #E71C73, #23ACB3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  scale: 1.1;
  }




.projet:before {
    content:"PROJET";
    font-weight: bold;
    font-size: 20px;

    
}

.projet:hover:before {

  content:"Le voyage dans le passé  à bord d'une machine à voyager dans le temps. Marty, doit résoudre les paradoxes temporels provoqués par ses interventions dans le passé et trouver le moyen de faire fonctionner la machine pour retourner à son époque d'origine";
  font-weight: normal;
  font-size: 15px;

}

.contact:hover{  
  background: -webkit-linear-gradient( #E71C73, #23ACB3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  scale: 1.2;
}

.formulaire{
  /* background-color: #edf750; */
}



form{
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-150px; 
  margin-top:-100px; 
  background: #efece7;
  
}




label{ 
display: block; /* La balise devient de type block. */
width: 150px;
} 

@media screen and (max-width: 700px){
  .foot-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
    
    .disponibilite{
      margin-left: 1%;
      margin-top: 5%;
    }
    
  }

  

/*  finish footer*/