 .experiences{
      color: aliceblue;
    display:flex;
    background-color: black;
    height:20%;
    width:50%;
    border-radius:8px;
    margin-top:80px;
    margin-left:2.5%;
    margin-bottom: 40%;
    text-align: center;
    justify-content:center;
    flex-direction:column; 
    border:ridge;

    transition:0.5s;
  }

  /*.experiences:hover:before{
    content:'age: 24 \a adresse: 10 rue de la gloire \a ville: Bikiny Bottom \a n°Tel: 06 51 44 61 66 ' ;
    display:block;
    white-space:pre;
  }
  
  .experiences:before{
      content:"Coordonnées";
  }
  
  .experiences:hover{
    transform : scale(1.2); 
  }*/
 
  
  .diplomes{
    color: white ;
    margin-right:96px;
    display:flex;
    background-color: black;
    height:20%;
    width:50%;
    border-radius:8px;
    margin-top:80px;
    margin-left:20%;
    text-align: center;
    justify-content:center;
    flex-direction:column; 
    border:ridge;
    transition:0.5s;
  }
  
  #diplomes{ 
    padding-top: 15%;
  }
  
  #diplomes ul li{
    display: flex;
    flex-direction: column;
    text-align:center;
    font-size: 62%;
    padding-bottom: 5%;
  }
/*   
  .diplomes:hover:before{
    content:'age: 24 \a adresse: 10 rue de la gloire \a ville: Bikiny Bottom \a n°Tel: 06 51 44 61 66 ' ;
    display:block;
    white-space:pre;
  }
  
  .diplomes:before{
      content:"Coordonnées";
  }
  
  .diplomes:hover{
    transform : scale(1.2);} */