/* jordy*/
.coordonnes{
  background: -webkit-linear-gradient( #E71C73, #FEE800, #23ACB3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:flex;
  flex-direction:column;
  height:28%;
  width:73%;
  border-radius:8px;
  margin:136px 0px 0px 152px;
  text-align: center;
  justify-content:center;
  flex-direction:column;
  border:ridge;
  transition:0.5s;
}

.coordonnes:before{
  content:"Coordonnées";
}

.coordonnes:hover:before{
  content:'age: 24 \a adresse: 10 rue de la gloire \a ville: Bikiny Bottom \a n°Tel: 06 51 44 61 66 ' ;
  display:block;
  white-space:pre;
}

.coordonnes:hover{
  transform : scale(1.2); 
}

.competences{
  background: -webkit-linear-gradient( #E71C73, #FEE800, #23ACB3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:flex;
  height:28%;
  width:73%;
  border-radius:8px;
  margin:104px 0px 0px 64px;
  text-align: center;
  justify-content:center;
  flex-direction:column;
  border:ridge; 
  transition:0.5s;
  }

.competences:before{
  content:"Compétences";
}

.competences:hover:before{
  content:"Permis B, B1, B2, C \a Permis Avion \a Permis port d'armes \a Maitrise karaté, jujitsu \a Culture cinématographique accrue \a Maitrise du voyage dans le temps";
  display:block;
  white-space:pre;
}

.competences:hover{
  transform : scale(1.2); 
}
      
      
    /* Jordy finish*/