/* ---- NAVBAR ---- */

:root {
  --dark: #273e70;
  --white: #d8dfee;
}

.burgerMenu{
  display: none;
}

.navigations{
  background-position: center;
  background-image: url(Sources/navBoard.png);
  justify-content: center;
  height: 8%;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 8px  #101e3d;
  float: left;
  line-height: 40px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navList{
  margin-block-start: 0;
  padding-left: 0;
  padding-top:0.4 em;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.nomIcone{
  display:none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

.indexNav{
  font-family: Helvetica, sans-serif;
  color : black;
  font-size: 14pt;
  scale: 0.8;
  transition: 0.3s;
}

.indexNav:hover{
  scale: 1;
  transition: 0.3s ease;
}

/* ---- NAVBAR FINISH ---- */

/* ---- MID DIV ---- */

.photoProfil{
  display: block;
  transition: 5s;
  padding-bottom: 0.5em;
  padding-top: 8em;
}

#textTitle{
  font-family: "goodTimes";
  font-size: 25pt;
  background: -webkit-linear-gradient(rgba(35,172,179,1) 0%, rgba(0,0,0,1) 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#textDescribe{
  color: #081a42;
  font-family: "Quicksand", sans-serif;
  font-size: 15pt;
}

/* ---- FINISH MID DIV ---- */

/* ---- MEDIA QUERIES ---- */

/* -- TABLET -- */

@media screen and (max-width:1050px){
  a{
    text-decoration: none;
  }

  span{
    display: block;
    background-color: var(--dark);
    height: 3px;
    width : 40px;
    margin-bottom: 0.3em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  /* --- ANNIMATION MENU BURGER ---*/

  .burgerMenu.open .spanMid {
    transform: translateX(-50px);
    height: 0px;
  }
  .burgerMenu.open .spanTop {
    transform: rotate(45deg) translate(0px, 6px);
  }
  .burgerMenu.open .spanBot {
    transform: rotate(-45deg) translate(0px, -5px);
  }
  
  /* --- FIN ANNIMATION MENU BURGER ---*/

  .burgerMenu{
   display: block;
  }

  .navigations{
    height: 60px;
    justify-items: center;
    grid-area: logoTitre;
    
  }

  .navList{
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
  }

  .indexNav{
    display: none;
    grid-column: 2;
    padding: 2em 0em 0em 0em;
  }

  .logoTitre{
    display: flex;
    height: 40px;
    padding: 0.7em 0em 1em 0em;
  }

  #logoTitre{
    grid-column: 2/3;
    order: -2;
  }

  .photoProfil{ 
    display: flex;
  }

}

/* -- MOBILE PHONE -- */

@media screen and (max-width:450px){
  a{
    text-decoration: none;
  }

  span{
    display: block;
    background-color: var(--dark);
    height: 2px;
    width : 25px;
    margin-bottom: 0.3em;
  }

  .burgerMenu{
   display: block;
  }

  .navigations{
    height: 50px;
    justify-items: center;
    grid-area: logoTitre;
  }

  .navList{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
  }

  .indexNav{
    display: none;
    grid-column: 2;
    padding: 3em 0em 0em 0em;
  }

  .logoTitre{
    display: flex;
    height: 25px;
    padding: 0.7em 0em 1em 0em;
  }

  #logoTitre{
    grid-column: 2/3;
    order: -2;
  }

  .textTitle{
    font-size: 20pt;
  }

  .photoProfil{
    display: flex;
    padding-top: 4em;
  }


}



/* ---- FINISH MEDIA QUERIES ---- */
