/* ---- NAVBAR ---- */

:root {
  --dark: #273e70;
  --white: #d8dfee;
}

.burgerMenu {
  display: none;
}

.navigations {
  background-position: center;
  background-image: url(Sources/navBoard.png);
  justify-content: center;
  height: 8%;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 8px #101e3d;
  float: left;
  line-height: 40px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navList {
  margin-block-start: 0;
  padding-top: 1em;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nomIcone {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

.indexNav {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14pt;
}

.indexNav:hover {
  color: var(--dark);
  transition: 0.5s;
}

#iconLinkedIn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #4177b2;
  transition: width 0.3s;
}

#iconLinkedIn:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#iconFacebook::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #4d5991;
  transition: width 0.3s;
}

#iconFacebook:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#iconEmail::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #655565;
  transition: width 0.3s;
}

#iconEmail:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#iconTwitter::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #65a4da;
  transition: width 0.3s;
}

#iconTwitter:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* ---- NAVBAR FINISH ---- */

/* ---- MID DIV ---- */

.photoProfil {
  display: block;
  transition: 5s;
  padding-bottom: 0.5em;
  padding-top: 8em;
}

#textTitle {
  font-family: "goodTimes";
  font-size: 25pt;
  background: -webkit-linear-gradient(
    rgba(35, 172, 179, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#textDescribe {
  font-family: "Quicksand", sans-serif;
  font-size: 15pt;
}

/* ---- FINISH MID DIV ---- */

/* ---- MEDIA QUERIES ---- */

/* -- TABLET -- */

@media screen and (max-width: 780px) {
  span {
    display: block;
    background-color: var(--dark);
    height: 3px;
    width: 40px;
    margin-bottom: 0.3em;
  }

  .burgerMenu {
    display: block;
  }

  .navigations {
    height: 60px;
    justify-items: center;
    grid-area: logoTitre;
  }

  .navList {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
  }

  .nomIcone {
    display: block;
  }

  .indexNav {
    grid-column: 2;
    padding: 2em 0em 0em 0em;
  }

  .logoTitre {
    display: flex;
    height: 40px;
    padding: 0.6em 0em 1em 0em;
  }

  #logoTitre {
    grid-column: 2/3;
    order: -2;
  }

  #nomLinkedIn {
    color: #4177b2;
  }

  #nomFacebook {
    color: #4d5991;
  }

  #nomEmail {
    color: #655565;
  }

  #nomTwitter {
    color: #65a4da;
  }

  .photoProfil {
    display: flex;
  }
}

/* -- MOBILE PHONE -- */

@media screen and (max-width: 450px) {
  span {
    display: block;
    background-color: var(--dark);
    height: 2px;
    width: 30px;
    margin-bottom: 0.3em;
  }

  .burgerMenu {
    display: block;
  }

  .navigations {
    height: 50px;
    justify-items: center;
    grid-area: logoTitre;
  }

  .navList {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
  }

  .nomIcone {
    display: block;
  }

  .indexNav {
    grid-column: 2;
    padding: 0.5em 0em 0em 0em;
  }

  .logoTitre {
    display: flex;
    height: 30px;
    padding: 0.6em 0em 1em 0em;
  }

  #logoTitre {
    grid-column: 2/3;
    order: -2;
  }

  #nomLinkedIn {
    color: #4177b2;
  }

  #nomFacebook {
    color: #4d5991;
  }

  #nomEmail {
    color: #655565;
  }

  #nomTwitter {
    color: #65a4da;
  }

  .photoProfil {
    display: flex;
  }

  .left-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .right-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .central-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .mid-box {
    display: grid;
    order: -2;
  }
  .foot-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .disponibilite {
    margin-top: 150px;
    margin-left: 10px;
    height: 100px;
    width: 250px;
  }

  .projet {
    margin-top: 150px;
    margin-left: 10px;
    height: 100px;
    width: 250px;
  }
  #iconFacebook {
    display: none;
  }
  #iconLinkedIn {
    display: none;
  }
  #iconTwitter {
    display: none;
  }
  #iconEmail {
    display: none;
  }
}

/* ---- FINISH MEDIA QUERIES ---- */
