:root {
  --main-width: 33.33333%;
  
}
.centrale{
  display:flex;
  justify-content: center;
  height:57.7%;
  color: white; 
}

.gauche{
  display:flex;
  flex-direction:column;
  width:var(--main-width);
  background-color:red;
 
  
  
}
.coordonnés{
  display: flex;
  flex-direction:column;
  height:170px;
  width:350px;
  border-radius:25px;
  margin-top:120px;
  margin-left:170px;
  text-align: center;
  justify-content:center;
  flex-direction:column; 
  border:solid 1px;
  border-color:rgb(254,232,0); 
  
}linear-gradient(133deg, rgba(254,232,0,0) 0%, rgba(254,232,0,1) 20%, rgba(235,108,8,1) 42%, rgba(231,28,115,1) 69%, rgba(35,172,179,1) 100%);

.coordonnés:hover:before{
  content:'age: 24 \a adresse: 10 rue de la gloire \a ville: Bikiny Bottom \a n°Tel: 06 51 44 61 66 ' ;
  display:block;
  white-space:pre;
}

.coordonnés:before{
    content:"Coordonnées";
}

#test{
  transition:0.5s;
} 
#test:hover{
  transform : scale(1.2);
  
}

.compétences{
  display: flex;
  height:170px;
  width:350px;
  border-radius:25px;
  margin-top:80px;
  margin-left:45px;
  text-align: center;
  justify-content:center;
  flex-direction:column; 
  border:solid 1px;
  border-color:rgba(235,108,8,1);
}

.compétences:hover:before{
  content:"Permis B, B1, B2, C \a Permis Avion \a Permis port d'armes \a Maitrise karaté, jujitsu \a Culture cinématographique accrue \a Maitrise du voyage dans le temps";
  display:block;
  white-space:pre;
}

.compétences:before{
  content:"Compétences";
}


.millieu{
  width:var(--main-width);
  background-color:purple;

}

.droite{
  width:var(--main-width);
  background-color:pink;
}
.navigations{
  height:90px;
  background-color:green;
}
.bas{
  height:220px;
  background-color:yellow;
}