@import "jordycss.css";
@import "martycss.css";
@import "bilalcss.css";
@import "guillaume.css";

@font-face {
  font-family: "goodTimes";
  src: url("font/good\ times\ rg.ttf");
}

body {
  margin: 0;
  background-image: radial-gradient(white, var(--dark));
}
.backgroundTitle {
  display: none;
  opacity: 0%;
  text-shadow: -5px 5px #8c95a7;
  position: absolute;
  justify-content: center;
  text-align: center;
  font-size: 110pt;
  font-family: "goodTimes";
  width: 100%;
  color: #081a42;
  margin: 0;
}
.central-box {
  margin-top: 82px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 70%;
  margin-bottom: 40px;
}

.left-box {
  display: flex;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
}

.mid-box {
  display: flex;
  width: 33.33%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.right-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 33.33%;
}

.foot-box {
  width: 100%;
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 112px;
}
/* MOBILE ! ! ! ! ! ! ! ! ! ! ! ! !! ! ! !  */
@media screen and (max-width: 450px) {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .central-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mid-box {
    order: -1;
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 112px;
  }

  .left-box {
    display: inline-block;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .right-box {
    display: inline-block;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .foot-box {
    display: inline-block;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .coordonnes {
    content: "Âge: 24 \a Adresse: 10 rue de la gloire \a Ville: Bikiny Bottom \a n°Tel: 06 51 44 61 66 ";
    width: 320px;
    margin: 16px auto 16px auto;
    height: 88px;
    padding: 16px 16px 16px 16px;
    margin-bottom: 80px;
    pointer-events: none;
  }
  .coordonnes:before {
    white-space: pre;
    content: "COORDONNÉS \a \a Adresse: 10 rue de la gloire \a Ville: Bikiny Bottom \a n°Tel: 06 51 44 61 66 ";
    font-family: quicksand;
  }

  .competences {
    width: 320px;
    margin: 16px auto 16px auto;
    height: 88px;
    padding: 16px 16px 16px 16px;
    pointer-events: none;
  }
  .competences:before {
    white-space: pre;
    content: "COMPÉTENCES \a Permis B, B1, B2, C \a Permis Avion Permis port d'armes \a Maitrise karaté, jujitsu\a  Culture cinématographique \a Maitrise accrue du voyage dans le temps";
    font-family: quicksand;
  }

  .experiences {
    width: 320px;
    margin: 16px auto 16px auto;
    height: 88px;
    padding: 16px 16px 16px 16px;
    margin-bottom: 80px;
    pointer-events: none;
  }
  .experiences:before {
    white-space: pre;
    content: "EXPÉRIENCES \a \a Conduite d'une DeLorean Temporelle";
    font-family: quicksand;
  }
  .diplomes {
    width: 320px;
    margin: 16px auto 16px auto;
    height: 88px;
    padding: 16px 16px 16px 16px;
    pointer-events: none;
  }
  .diplomes:before {
    white-space: pre;
    content: " DIPLÔMES \a  1885: Permis de port d'armes \a 1955: Diplomé du Conservatoire \a d'Hill Valley option Guitare Rock \a 1985: Permis de Taxi Temporelle";
    font-family: quicksand;
  }
  .disponibilite {
    width: 320px;
    margin: 16px auto 16px auto;
    height: 88px;
    padding: 16px 16px 16px 16px;
    margin-bottom: 72px;
    pointer-events: none;
  }
  .disponibilite:before {
    font-family: quicksand;
    white-space: pre;
    content: "DISPONIBILITÉ \a \a Immédiate !";
  }

  .projet {
    display: flex;
    width: 320px;
    margin: 16px auto 16px auto;
    height: 88px;
    padding: 16px 16px 16px 16px;
    pointer-events: none;
  }

  .projet:before {
    white-space: pre;
    content: "PROJET \a \a Vous guider à travers le temps et l'espace. \a Sans provoquer de paradoxes temporels!";
    font-family: quicksand;
  }
}
